.btn_red {
    transition: 0.5s;
    font-weight: 500;
    border: solid 1px var(--bs-white);
    font-size: 14px;
    background-image: linear-gradient(
    90deg,
    #ffc315 0%,
    #ffc315 100%
  );
    color: #000;
}
.btn_red :hover{
    cursor: pointer;
}